* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
  }
  body {
    background-color: rgb(213, 213, 213);
    margin-left: 3em;
    margin-right: 3em;
  }
  header {
    display: flex;
    justify-content: center;
  }
  #mainlogo {
    padding: 3em;
    margin: 4em;
  }
  nav {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 15px;
  }
  
  nav ul {
    padding: 0.5em;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
  }
  
  nav ul li {
    list-style: none;
    text-align: center;
    color: aliceblue;
    font-size: 1.25em;
    padding: 0.5em;
    font-weight: 600;
    text-decoration: none;
  }
  nav ul li:hover {
    cursor: pointer;
    background-color: rgb(255, 126, 46);
    border-radius: 10px;
  }
  #homebutton {
    text-decoration: none;
    color: aliceblue;
  }
  
  #footerlogo {
    max-width: 3em;
  }
  
  footer {
    padding-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  footer div hr {
    background-color: black;
    height: 2px;
    width: 15em;
    border: none;
    border-radius: 5px;
  }
  .copyright {
    text-align: end;
  }
  .banner {
    padding-top: 1.5em;
  }
  .text {
    background-image: url(kindpng_726689.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 3em;
    border-radius: 10px;
    color: black;
  }
  .text h1 {
    font-size: xx-large;
    font-weight: 900;
  }
  .text p {
    font-weight: 700;
    font-size: larger;
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
  }
  
  .col {
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 224, 204);
    align-items: center;
    border-radius: 10px;
    margin-top: 1.5em;
    padding: 1em;
    max-width: 20em;
  }
  .col p {
    font-weight: 600;
    padding-left: 1em;
    padding-right: 1em;
  }
  .list .col .salad {
    max-width: 16em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .button {
    border: none;
    background-color: rgb(255, 252, 240);
    color: rgb(250, 129, 54);
    padding: 0.5em;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    font-size: large;
    margin-top: 0.5em;
  }
  .button:hover {
    background-color: rgb(250, 129, 54);
    color: aliceblue;
    transition: 0.4s;
  }
  .col:hover{
    box-shadow: 5px 0px 25px black;
  }
  